<div class="row">
    {{# each product}}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{{this.imagePath}}" alt="..." class="img-responsive">
                <div class="caption">

                    <div class="clearfix">

                    </div>
                </div>
            </div>
        </div>
    {{/each}}




</div>



